# linearize-hashes.py step 1
# RPC settings
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=23811

# hashlist range
min_height=0
max_height=2468990

# linearize-data.py step 2
# Zero mainnet (chainparams.cpp)
# pchMessageStart: 0x5A 0x45 0x52 0x4F ("ZERO")
netmagic=5a45524f
# consensus.hashGenesisBlock (height 0)
genesis=068cbb5db6bc11be5b93479ea4df41fa7e012e92ca8603c315f9b1a2202205c6

input=/home/example/.zero/blocks
output_file=/tmp/bootstrap.dat
hashlist=hashlist.txt

# Maxmimum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000
